BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 96b063a4c46a

CREATE TABLE administrative_boundaries (
    id SERIAL NOT NULL, 
    osm_id BIGINT NOT NULL, 
    osm_type VARCHAR(10) NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    name_en VARCHAR(255), 
    admin_level INTEGER NOT NULL, 
    parent_id INTEGER, 
    geometry geometry(GEOMETRY,4326), 
    tags JSONB, 
    population INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_administrative_boundaries_geometry ON administrative_boundaries USING gist (geometry);

COMMENT ON COLUMN administrative_boundaries.osm_type IS 'node, way, relation';

COMMENT ON COLUMN administrative_boundaries.parent_id IS 'Parent admin boundary';

COMMENT ON COLUMN administrative_boundaries.tags IS 'All OSM tags as JSON';

CREATE INDEX idx_administrative_boundaries_geometry ON administrative_boundaries USING gist (geometry);

CREATE INDEX ix_administrative_boundaries_admin_level ON administrative_boundaries (admin_level);

CREATE INDEX ix_administrative_boundaries_id ON administrative_boundaries (id);

CREATE INDEX ix_administrative_boundaries_name ON administrative_boundaries (name);

CREATE UNIQUE INDEX ix_administrative_boundaries_osm_id ON administrative_boundaries (osm_id);

CREATE TABLE buildings (
    id SERIAL NOT NULL, 
    osm_id BIGINT NOT NULL, 
    osm_type VARCHAR(10) NOT NULL, 
    name VARCHAR(255), 
    building_type VARCHAR(50), 
    addr_street VARCHAR(255), 
    addr_housenumber VARCHAR(50), 
    addr_district VARCHAR(100), 
    levels INTEGER, 
    height FLOAT, 
    district_id INTEGER, 
    geometry geometry(POLYGON,4326) NOT NULL, 
    area FLOAT, 
    tags JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_buildings_geometry ON buildings USING gist (geometry);

COMMENT ON COLUMN buildings.building_type IS 'residential, commercial, school, hospital, etc.';

COMMENT ON COLUMN buildings.levels IS 'Number of floors';

COMMENT ON COLUMN buildings.height IS 'Height in meters';

COMMENT ON COLUMN buildings.area IS 'Area in square meters';

CREATE INDEX idx_buildings_geometry ON buildings USING gist (geometry);

CREATE INDEX ix_buildings_building_type ON buildings (building_type);

CREATE INDEX ix_buildings_id ON buildings (id);

CREATE INDEX ix_buildings_name ON buildings (name);

CREATE UNIQUE INDEX ix_buildings_osm_id ON buildings (osm_id);

CREATE TABLE departments (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    email VARCHAR(255), 
    phone VARCHAR(50), 
    responsible_categories JSONB, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

COMMENT ON COLUMN departments.responsible_categories IS 'List of category codes';

CREATE INDEX ix_departments_id ON departments (id);

CREATE TABLE entities (
    id VARCHAR NOT NULL, 
    type VARCHAR NOT NULL, 
    data JSONB NOT NULL, 
    location_geom geometry(GEOMETRY,4326), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    modified_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_entities_location_geom ON entities USING gist (location_geom);

CREATE INDEX idx_entities_location_geom ON entities USING gist (location_geom);

CREATE INDEX ix_entities_id ON entities (id);

CREATE INDEX ix_entities_location_geom ON entities (location_geom);

CREATE INDEX ix_entities_type ON entities (type);

CREATE TABLE environmental_data (
    id SERIAL NOT NULL, 
    district_id INTEGER, 
    data_type VARCHAR(50) NOT NULL, 
    value DECIMAL(10, 2), 
    unit VARCHAR(20), 
    measured_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    source VARCHAR(50), 
    properties JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

COMMENT ON COLUMN environmental_data.data_type IS 'air_quality, weather, noise, traffic';

COMMENT ON COLUMN environmental_data.value IS 'Gi├í trß╗ï ─æo ─æ╞░ß╗úc';

COMMENT ON COLUMN environmental_data.unit IS '─É╞ín vß╗ï: ┬╡g/m┬│, ┬░C, dB, km/h';

COMMENT ON COLUMN environmental_data.measured_at IS 'Thß╗¥i ─æiß╗âm ─æo';

COMMENT ON COLUMN environmental_data.source IS 'waqi, openweathermap, google_maps';

COMMENT ON COLUMN environmental_data.properties IS 'Th├┤ng tin chi tiß║┐t: PM2.5, PM10, humidity, etc.';

CREATE INDEX ix_environmental_data_data_type ON environmental_data (data_type);

CREATE INDEX ix_environmental_data_district_id ON environmental_data (district_id);

CREATE INDEX ix_environmental_data_id ON environmental_data (id);

CREATE INDEX ix_environmental_data_measured_at ON environmental_data (measured_at);

CREATE TYPE incidenttype AS ENUM ('TRAFFIC', 'WEATHER', 'ENVIRONMENTAL', 'INFRASTRUCTURE', 'PUBLIC_SAFETY', 'UTILITY');

CREATE TYPE incidentseverity AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

CREATE TABLE incidents (
    id UUID NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT, 
    type incidenttype NOT NULL, 
    severity incidentseverity, 
    location geometry(POINT,4326) NOT NULL, 
    address TEXT, 
    district_id INTEGER, 
    started_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    ended_at TIMESTAMP WITH TIME ZONE, 
    source VARCHAR(100), 
    source_id VARCHAR(255), 
    is_active BOOLEAN, 
    is_verified BOOLEAN, 
    affected_area_radius FLOAT, 
    estimated_impact INTEGER, 
    incident_metadata JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_incidents_location ON incidents USING gist (location);

COMMENT ON COLUMN incidents.source IS 'system, user_report, external_api';

COMMENT ON COLUMN incidents.source_id IS 'ID from source system';

COMMENT ON COLUMN incidents.affected_area_radius IS 'Radius in meters';

COMMENT ON COLUMN incidents.estimated_impact IS 'Number of people affected';

COMMENT ON COLUMN incidents.incident_metadata IS 'Extra incident data';

CREATE INDEX idx_incidents_location ON incidents USING gist (location);

CREATE INDEX ix_incidents_id ON incidents (id);

CREATE INDEX ix_incidents_is_active ON incidents (is_active);

CREATE INDEX ix_incidents_severity ON incidents (severity);

CREATE INDEX ix_incidents_started_at ON incidents (started_at);

CREATE INDEX ix_incidents_title ON incidents (title);

CREATE INDEX ix_incidents_type ON incidents (type);

CREATE TYPE notificationtype AS ENUM ('REPORT_STATUS_UPDATE', 'REPORT_COMMENT', 'REPORT_UPVOTE', 'REPORT_ASSIGNED', 'SYSTEM_ANNOUNCEMENT', 'ACHIEVEMENT_UNLOCKED');

CREATE TABLE notification_templates (
    id SERIAL NOT NULL, 
    type notificationtype NOT NULL, 
    title_template VARCHAR(255) NOT NULL, 
    message_template TEXT NOT NULL, 
    email_subject_template VARCHAR(255), 
    email_body_template TEXT, 
    push_title_template VARCHAR(255), 
    push_body_template TEXT, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

COMMENT ON COLUMN notification_templates.title_template IS 'e.g. ''B├ío c├ío #{report_id} ─æ├ú {status}''';

CREATE INDEX ix_notification_templates_id ON notification_templates (id);

CREATE UNIQUE INDEX ix_notification_templates_type ON notification_templates (type);

CREATE TABLE pois (
    id SERIAL NOT NULL, 
    osm_id BIGINT NOT NULL, 
    osm_type VARCHAR(10) NOT NULL, 
    name VARCHAR(255), 
    name_en VARCHAR(255), 
    category VARCHAR(50) NOT NULL, 
    subcategory VARCHAR(50), 
    phone VARCHAR(50), 
    website VARCHAR(255), 
    email VARCHAR(255), 
    address TEXT, 
    district_id INTEGER, 
    location geometry(POINT,4326) NOT NULL, 
    tags JSONB, 
    opening_hours VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_pois_location ON pois USING gist (location);

COMMENT ON COLUMN pois.category IS 'amenity, shop, tourism, leisure, etc.';

COMMENT ON COLUMN pois.subcategory IS 'restaurant, hospital, atm, hotel, etc.';

CREATE INDEX idx_pois_location ON pois USING gist (location);

CREATE INDEX ix_pois_category ON pois (category);

CREATE INDEX ix_pois_id ON pois (id);

CREATE INDEX ix_pois_name ON pois (name);

CREATE UNIQUE INDEX ix_pois_osm_id ON pois (osm_id);

CREATE INDEX ix_pois_subcategory ON pois (subcategory);

CREATE TABLE public_facilities (
    id SERIAL NOT NULL, 
    osm_id INTEGER, 
    name VARCHAR(255) NOT NULL, 
    name_en VARCHAR(255), 
    category VARCHAR(50) NOT NULL, 
    subcategory VARCHAR(50), 
    address VARCHAR(500), 
    district_id INTEGER, 
    location geometry(POINT,4326) NOT NULL, 
    phone VARCHAR(20), 
    website VARCHAR(255), 
    opening_hours VARCHAR(255), 
    capacity INTEGER, 
    rating DECIMAL(2, 1), 
    properties JSONB, 
    source VARCHAR(50), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_public_facilities_location ON public_facilities USING gist (location);

COMMENT ON COLUMN public_facilities.category IS 'hospital, school, park, police_station, fire_station, library, market';

COMMENT ON COLUMN public_facilities.subcategory IS 'Chi tiß║┐t: primary_school, general_hospital';

COMMENT ON COLUMN public_facilities.capacity IS 'Sß╗⌐c chß╗⌐a';

COMMENT ON COLUMN public_facilities.rating IS '─É├ính gi├í 0-5';

COMMENT ON COLUMN public_facilities.source IS 'osm, gov, manual';

CREATE INDEX idx_public_facilities_location ON public_facilities USING gist (location);

CREATE INDEX ix_public_facilities_category ON public_facilities (category);

CREATE INDEX ix_public_facilities_id ON public_facilities (id);

CREATE INDEX ix_public_facilities_name ON public_facilities (name);

CREATE UNIQUE INDEX ix_public_facilities_osm_id ON public_facilities (osm_id);

CREATE TABLE report_categories (
    id SERIAL NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    name_vi VARCHAR(255) NOT NULL, 
    name_en VARCHAR(255) NOT NULL, 
    description TEXT, 
    icon VARCHAR(50), 
    color VARCHAR(7), 
    parent_id INTEGER, 
    display_order INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(parent_id) REFERENCES report_categories (id)
);

CREATE UNIQUE INDEX ix_report_categories_code ON report_categories (code);

CREATE INDEX ix_report_categories_id ON report_categories (id);

CREATE TABLE streets (
    id SERIAL NOT NULL, 
    osm_id BIGINT NOT NULL, 
    osm_type VARCHAR(10) NOT NULL, 
    name VARCHAR(255), 
    name_en VARCHAR(255), 
    highway_type VARCHAR(50) NOT NULL, 
    surface VARCHAR(50), 
    lanes INTEGER, 
    maxspeed INTEGER, 
    oneway BOOLEAN, 
    district_id INTEGER, 
    geometry geometry(LINESTRING,4326) NOT NULL, 
    length FLOAT, 
    tags JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_streets_geometry ON streets USING gist (geometry);

COMMENT ON COLUMN streets.highway_type IS 'primary, secondary, residential, footway, etc.';

COMMENT ON COLUMN streets.surface IS 'asphalt, concrete, unpaved';

COMMENT ON COLUMN streets.maxspeed IS 'km/h';

COMMENT ON COLUMN streets.length IS 'Length in meters';

CREATE INDEX idx_streets_geometry ON streets USING gist (geometry);

CREATE INDEX ix_streets_highway_type ON streets (highway_type);

CREATE INDEX ix_streets_id ON streets (id);

CREATE INDEX ix_streets_name ON streets (name);

CREATE UNIQUE INDEX ix_streets_osm_id ON streets (osm_id);

CREATE TABLE transport_facilities (
    id SERIAL NOT NULL, 
    osm_id INTEGER, 
    name VARCHAR(255) NOT NULL, 
    name_en VARCHAR(255), 
    facility_type VARCHAR(50) NOT NULL, 
    line_number VARCHAR(20), 
    district_id INTEGER, 
    location geometry(POINT,4326) NOT NULL, 
    properties JSONB, 
    source VARCHAR(50), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_transport_facilities_location ON transport_facilities USING gist (location);

COMMENT ON COLUMN transport_facilities.facility_type IS 'bus_stop, metro_station, taxi_stand, parking';

COMMENT ON COLUMN transport_facilities.line_number IS 'Sß╗æ tuyß║┐n xe bu├╜t/metro';

CREATE INDEX idx_transport_facilities_location ON transport_facilities USING gist (location);

CREATE INDEX ix_transport_facilities_facility_type ON transport_facilities (facility_type);

CREATE INDEX ix_transport_facilities_id ON transport_facilities (id);

CREATE UNIQUE INDEX ix_transport_facilities_osm_id ON transport_facilities (osm_id);

CREATE TYPE userrole AS ENUM ('CITIZEN', 'MODERATOR', 'ADMIN', 'GOVERNMENT');

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    username VARCHAR(100) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    full_name VARCHAR(255), 
    phone VARCHAR(20), 
    role userrole NOT NULL, 
    level INTEGER, 
    points INTEGER, 
    reputation_score FLOAT, 
    is_active BOOLEAN, 
    is_verified BOOLEAN, 
    is_admin BOOLEAN, 
    ward_id INTEGER, 
    location geometry(POINT,4326), 
    reports_count INTEGER, 
    avatar_url VARCHAR(500), 
    bio VARCHAR(500), 
    properties JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    last_login TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_users_location ON users USING gist (location);

COMMENT ON COLUMN users.is_verified IS 'Email verified';

COMMENT ON COLUMN users.ward_id IS 'Ph╞░ß╗¥ng/x├ú c╞░ tr├║';

CREATE INDEX idx_users_location ON users USING gist (location);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE INDEX ix_users_role ON users (role);

CREATE UNIQUE INDEX ix_users_username ON users (username);

CREATE TABLE department_members (
    id SERIAL NOT NULL, 
    department_id INTEGER NOT NULL, 
    user_id UUID NOT NULL, 
    role VARCHAR(50), 
    is_active BOOLEAN, 
    joined_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(department_id) REFERENCES departments (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

COMMENT ON COLUMN department_members.role IS 'manager, member, viewer';

CREATE INDEX ix_department_members_department_id ON department_members (department_id);

CREATE INDEX ix_department_members_id ON department_members (id);

CREATE INDEX ix_department_members_user_id ON department_members (user_id);

CREATE TYPE mediatype AS ENUM ('IMAGE', 'VIDEO', 'DOCUMENT');

CREATE TABLE media_files (
    id UUID NOT NULL, 
    filename VARCHAR(255) NOT NULL, 
    original_filename VARCHAR(255) NOT NULL, 
    file_type mediatype NOT NULL, 
    mime_type VARCHAR(100) NOT NULL, 
    storage_path VARCHAR(500) NOT NULL, 
    storage_type VARCHAR(50), 
    file_size BIGINT NOT NULL, 
    width INTEGER, 
    height INTEGER, 
    duration INTEGER, 
    uploaded_by UUID NOT NULL, 
    is_public BOOLEAN, 
    is_deleted BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(uploaded_by) REFERENCES users (id)
);

COMMENT ON COLUMN media_files.storage_path IS 'Path in storage system';

COMMENT ON COLUMN media_files.storage_type IS 'local, s3, cloudinary';

COMMENT ON COLUMN media_files.file_size IS 'Size in bytes';

COMMENT ON COLUMN media_files.width IS 'Image/video width';

COMMENT ON COLUMN media_files.height IS 'Image/video height';

COMMENT ON COLUMN media_files.duration IS 'Video duration in seconds';

CREATE INDEX ix_media_files_created_at ON media_files (created_at);

CREATE INDEX ix_media_files_file_type ON media_files (file_type);

CREATE INDEX ix_media_files_id ON media_files (id);

CREATE TYPE reportstatus AS ENUM ('PENDING', 'VERIFIED', 'IN_PROGRESS', 'RESOLVED', 'REJECTED', 'DUPLICATE');

CREATE TYPE reportpriority AS ENUM ('LOW', 'NORMAL', 'HIGH', 'URGENT');

CREATE TABLE reports (
    id UUID NOT NULL, 
    reporter_id UUID NOT NULL, 
    category VARCHAR(50) NOT NULL, 
    subcategory VARCHAR(50), 
    title VARCHAR(255) NOT NULL, 
    description TEXT NOT NULL, 
    location geometry(POINT,4326) NOT NULL, 
    address TEXT, 
    related_facility_id INTEGER, 
    related_street_id INTEGER, 
    status reportstatus NOT NULL, 
    priority reportpriority NOT NULL, 
    images TEXT[], 
    report_metadata JSONB, 
    upvotes INTEGER, 
    downvotes INTEGER, 
    views INTEGER, 
    comments_count INTEGER, 
    verified_by UUID, 
    verified_at TIMESTAMP WITH TIME ZONE, 
    resolved_at TIMESTAMP WITH TIME ZONE, 
    resolution_note TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(reporter_id) REFERENCES users (id), 
    FOREIGN KEY(verified_by) REFERENCES users (id)
);

CREATE INDEX idx_reports_location ON reports USING gist (location);

CREATE INDEX idx_reports_location ON reports USING gist (location);

CREATE INDEX ix_reports_category ON reports (category);

CREATE INDEX ix_reports_created_at ON reports (created_at);

CREATE INDEX ix_reports_id ON reports (id);

CREATE INDEX ix_reports_reporter_id ON reports (reporter_id);

CREATE INDEX ix_reports_status ON reports (status);

CREATE TABLE user_notification_settings (
    id SERIAL NOT NULL, 
    user_id UUID NOT NULL, 
    enable_email BOOLEAN, 
    enable_push BOOLEAN, 
    enable_sms BOOLEAN, 
    notify_status_update BOOLEAN, 
    notify_comments BOOLEAN, 
    notify_upvotes BOOLEAN, 
    notify_assignments BOOLEAN, 
    notify_announcements BOOLEAN, 
    quiet_hours_start VARCHAR(5), 
    quiet_hours_end VARCHAR(5), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

COMMENT ON COLUMN user_notification_settings.quiet_hours_start IS 'HH:MM format';

COMMENT ON COLUMN user_notification_settings.quiet_hours_end IS 'HH:MM format';

CREATE INDEX ix_user_notification_settings_id ON user_notification_settings (id);

CREATE UNIQUE INDEX ix_user_notification_settings_user_id ON user_notification_settings (user_id);

CREATE TABLE notifications (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    type notificationtype NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    message TEXT NOT NULL, 
    related_report_id UUID, 
    related_user_id UUID, 
    data JSONB, 
    is_read BOOLEAN, 
    read_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(related_report_id) REFERENCES reports (id), 
    FOREIGN KEY(related_user_id) REFERENCES users (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

COMMENT ON COLUMN notifications.data IS 'Extra notification data';

CREATE INDEX ix_notifications_created_at ON notifications (created_at);

CREATE INDEX ix_notifications_id ON notifications (id);

CREATE INDEX ix_notifications_is_read ON notifications (is_read);

CREATE INDEX ix_notifications_type ON notifications (type);

CREATE INDEX ix_notifications_user_id ON notifications (user_id);

CREATE TABLE report_activities (
    id UUID NOT NULL, 
    report_id UUID NOT NULL, 
    user_id UUID, 
    action VARCHAR(50) NOT NULL, 
    old_value JSONB, 
    new_value JSONB, 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(report_id) REFERENCES reports (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_report_activities_id ON report_activities (id);

CREATE INDEX ix_report_activities_report_id ON report_activities (report_id);

CREATE TYPE assignmentstatus AS ENUM ('PENDING', 'ACCEPTED', 'IN_PROGRESS', 'COMPLETED', 'REJECTED');

CREATE TABLE report_assignments (
    id UUID NOT NULL, 
    report_id UUID NOT NULL, 
    department_id INTEGER NOT NULL, 
    assigned_by UUID NOT NULL, 
    assigned_to UUID, 
    status assignmentstatus NOT NULL, 
    assignment_note TEXT, 
    completion_note TEXT, 
    assigned_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    accepted_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    due_date TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assigned_by) REFERENCES users (id), 
    FOREIGN KEY(assigned_to) REFERENCES users (id), 
    FOREIGN KEY(department_id) REFERENCES departments (id), 
    FOREIGN KEY(report_id) REFERENCES reports (id)
);

COMMENT ON COLUMN report_assignments.assigned_to IS 'Specific user in department';

CREATE INDEX ix_report_assignments_assigned_at ON report_assignments (assigned_at);

CREATE INDEX ix_report_assignments_department_id ON report_assignments (department_id);

CREATE INDEX ix_report_assignments_due_date ON report_assignments (due_date);

CREATE INDEX ix_report_assignments_id ON report_assignments (id);

CREATE INDEX ix_report_assignments_report_id ON report_assignments (report_id);

CREATE INDEX ix_report_assignments_status ON report_assignments (status);

CREATE TABLE report_comments (
    id UUID NOT NULL, 
    report_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    parent_id UUID, 
    content TEXT NOT NULL, 
    images TEXT[], 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(parent_id) REFERENCES report_comments (id), 
    FOREIGN KEY(report_id) REFERENCES reports (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_report_comments_id ON report_comments (id);

CREATE INDEX ix_report_comments_report_id ON report_comments (report_id);

CREATE TABLE report_followers (
    id UUID NOT NULL, 
    report_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(report_id) REFERENCES reports (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_report_followers_id ON report_followers (id);

CREATE INDEX ix_report_followers_report_id ON report_followers (report_id);

CREATE INDEX ix_report_followers_user_id ON report_followers (user_id);

CREATE TABLE report_media (
    id SERIAL NOT NULL, 
    report_id UUID NOT NULL, 
    media_id UUID NOT NULL, 
    display_order INTEGER, 
    is_primary BOOLEAN, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(media_id) REFERENCES media_files (id), 
    FOREIGN KEY(report_id) REFERENCES reports (id)
);

CREATE INDEX ix_report_media_id ON report_media (id);

CREATE INDEX ix_report_media_media_id ON report_media (media_id);

CREATE INDEX ix_report_media_report_id ON report_media (report_id);

CREATE TABLE report_votes (
    id UUID NOT NULL, 
    report_id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    vote_type VARCHAR(10) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(report_id) REFERENCES reports (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_report_votes_id ON report_votes (id);

CREATE INDEX ix_report_votes_report_id ON report_votes (report_id);

CREATE INDEX ix_report_votes_user_id ON report_votes (user_id);

CREATE TABLE assignment_history (
    id SERIAL NOT NULL, 
    assignment_id UUID NOT NULL, 
    changed_by UUID NOT NULL, 
    old_status assignmentstatus, 
    new_status assignmentstatus, 
    note TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(assignment_id) REFERENCES report_assignments (id), 
    FOREIGN KEY(changed_by) REFERENCES users (id)
);

CREATE INDEX ix_assignment_history_assignment_id ON assignment_history (assignment_id);

CREATE INDEX ix_assignment_history_created_at ON assignment_history (created_at);

CREATE INDEX ix_assignment_history_id ON assignment_history (id);

INSERT INTO alembic_version (version_num) VALUES ('96b063a4c46a') RETURNING alembic_version.version_num;

COMMIT;

